In [3]:
Greeting_sql

"SELECT\n  'Hello World!' AS col0;"

In [4]:
Greeting

           col0
0  Hello World!